---
- resources:
    cpu: true
    memory: true
    disk: /
    cputemp: true
    uptime: true

- datetime:
    text_size: xl
    format:
      dateStyle: long
      timeStyle: short
      hour12: false

- search:
    provider: google
    target: _blank
